*{ 
    padding: 0%; 
    margin: 0%;
}
@font-face{
    font-family: "Letra Recta";
    src: url("./fonts/Goodtimes.ttf");
}
@font-face{
    font-family: "Letra Redondeada";
    src: url("./fonts/KGRedHands.ttf");
}
@font-face{
    font-family: "Letra Rayada";
    src: url("./fonts/Nuvel.ttf");
}
@font-face{
    font-family: "Letra Normal";
    src: url("./fonts/UbuntuCondensed.ttf");
}
.rojo{
    color: rgb(255, 0, 0);
}
.azul{
    color: rgb(0, 0, 255);
}
.verde{
    color: rgb(0, 255, 0);
}
.verdeoscuro{
    color: rgb(0, 102, 0);
}
.azulclaro{
    color: rgb(0, 255, 255);
}
.amarillo{
    color: rgb(255, 255, 0);
}
.magenta{
    color: rgb(255, 0, 255);
}
.naranja{
    color: rgb(255, 100, 0);
}
.morado{
    color: rgb(100, 0, 255);
}
.cafe{
    color: rgb(116, 62, 1);
}
.piel{
    color: rgb(180, 142, 98);
}

#is_login{
    width: 40%;
    background-color: #0EF4EF;
    margin-left: 28%;
    margin-top: 8.5%;
    padding: 2%;
    text-align: center;
    border: 3px solid black;
    border-radius: 1%;
}
#is_registro{
    width: 40%;
    background-color: #0EF4EF;
    margin-left: 28%;
    margin-top: 3.8%;
    padding: 2%;
    text-align: center;
    border: 3px solid black;
    border-radius: 1%;
}
h1{
    font-family: "Letra Recta";
    padding: 0 0 3% 0;
}
input[type=email], input[type=password], input[type=text]{
    width: 60%;
    padding: 2.5% 3%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 20px;
    font-family: "Letra Redondeada";
    text-align: center;
    outline: none;
}
input[type=submit]{
    width: 60%;
    padding: 12px 20px;
    margin: 25px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid black;
    color: white;
    background-color: blue;
    font-size: 25px;
    font-family: "Letra Redondeada";
}
input[type=submit]:hover{
    color: black;
    background-color: #f853c1;
}
input[type=submit]:active{
    color: black;
    background-color: whitesmoke;
}
a{
    width: 100%;
    color: blue;
    font-size: 18px;
    font-family: "Letra Redondeada";
}
a:hover{
    color: purple;
}
a:active{
    color: whitesmoke;
}
label{
    color: black;
    font-size: 25px;
    font-family: "Letra Normal";
}
body{
    background-color: #91D9F5;
}